<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Minesweeper.Properties.Statistics" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="Minesweeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<Minesweeper.Properties.Statistics>
			<setting name="Mini_GamesWon" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="Mini_GamesLost" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="Mini_TotalMines" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="Mini_TotalTime" serializeAs="String">
				<value>00:00:00</value>
			</setting>
			<setting name="Mini_ShortTime" serializeAs="String">
				<value>00:00:00</value>
			</setting>
			<setting name="Beginner_GamesWon" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="Beginner_GamesLost" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="Beginner_TotalMines" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="Beginner_TotalTime" serializeAs="String">
				<value>00:00:00</value>
			</setting>
			<setting name="Beginner_ShortTime" serializeAs="String">
				<value>00:00:00</value>
			</setting>
			<setting name="Intermediate_GamesWon" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="Intermediate_GamesLost" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="Intermediate_TotalMines" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="Intermediate_TotalTime" serializeAs="String">
				<value>00:00:00</value>
			</setting>
			<setting name="Intermediate_ShortTime" serializeAs="String">
				<value>00:00:00</value>
			</setting>
			<setting name="Expert_GamesWon" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="Expert_GamesLost" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="Expert_TotalMines" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="Expert_TotalTime" serializeAs="String">
				<value>00:00:00</value>
			</setting>
			<setting name="Expert_ShortTime" serializeAs="String">
				<value>00:00:00</value>
			</setting>
			<setting name="Custom_GamesWon" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="Custom_GamesLost" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="Custom_TotalMines" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="Custom_TotalTime" serializeAs="String">
				<value>00:00:00</value>
			</setting>
			<setting name="Custom_ShortTime" serializeAs="String">
				<value>00:00:00</value>
			</setting>
		</Minesweeper.Properties.Statistics>
		<Minesweeper.Properties.Settings>
   <setting name="DefaultPreset" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="AccentColor" serializeAs="String">
    <value>40, 26, 26</value>
   </setting>
   <setting name="BackgroundColor" serializeAs="String">
    <value>White</value>
   </setting>
   <setting name="Language" serializeAs="String">
    <value />
   </setting>
   <setting name="ShowedWelcomeDialog" serializeAs="String">
    <value>False</value>
   </setting>
  </Minesweeper.Properties.Settings>
	</userSettings>
</configuration>